body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("/image/sunset.jpg");
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10px;
}

.heading h1 {
    font-size: 2em;
    margin: 0;
}

.con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 20px;
}

.content {
    text-align: center;
    padding: 15px;
}

.content p {
    margin: 10px 0;
    font-weight: bolder;
}

.button1 {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(218, 232, 232);
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.form1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 300px;
    padding: 20px;
    background-color: rgba(202, 141, 202, 0.8);
    color: #000;
    margin-top: 20px;
}

.form1 .formcon {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form1 label {
    font-weight: bold;
}

.box {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

.design {
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(225, 244, 244);
    border: none;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20px;
    height: 60px;
    padding: 20px;
    font-weight: bolder;
    
}

/* Responsive styles */
@media (min-width: 600px) {
    .con {
        flex-direction: row;
        justify-content: space-around;
    }

    .heading h1 {
        font-size: 2.5em;
    }

    .content p {
        font-size: 1.5em;
    }

    .button1 {
        font-size: 1.2em;
    }

    .form1 {
        width: 350px;
    }
}
.design{
    
}